body {
    overflow-x: hidden;
}

.pagina-local {
    margin-left: 43%;
    margin-right: 43%;
    width: 14%;
    font-weight: 700;
}

.box-configs {
    margin-left: 1%;
}

.minhaConta {
    border-radius: 10px;
    box-shadow: 1px 3px 3px 3px gray;

    padding: 2%;
}

.box-img-conta {
    text-align: center;
}

.input-conta {
    margin-top: 3%;
    width: 100%;
    border-radius: 6px;
    border: none;
    padding: 2%;
    background-color: lightgray;
}

.btn-alterarDados {
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;
}

@media screen and (max-width: 600px) {
    .box-configs {
        padding-right: 10%;
    }

    .minhaContaSeg {
        margin-top: 5%;
    }
}