body{
    overflow-x:hidden;
}
.pagina-local {
    margin-left: 43%;
    margin-right: 43%;
    width: 14%;
    font-weight: 700;
}

.box-Funcoes {
    margin-left: 1%;
}
.btnFuncoes {
  margin-right: 3%;
  font-weight: 500;
  color: white;
}
.btnFuncoes:hover{
    color: white;
    font-size: 2vh;
}

.box-msgErro {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%; 
}

.table-responsive {
  text-align: center;
}

.box-btnAcoes {
    display: inline-flex;
    align-items: center;
}
.btnAcao{
    width: 45%;
    margin-right: 5%;
}

.inputPesquisa {
    float: right;
    margin-right: 3%;
}
@media screen and (max-width: 600px) {
    .btnAcao{
        width: 100%;
        margin-top: 3%;
    }
}