body{
    overflow-x:hidden;
}
.pagina-local {
    margin-left: 43%;
    margin-right: 43%;
    width: 14%;
    font-weight: 700;
}
.box-editarSaida {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
.box-editarSaida label {
    margin-top: 1%;
}
.box-botoesAcao {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}
.box-botoesAcao a, .box-botoesAcao button {
    width: 40%;
    margin: 4%;
}

@media screen and (max-width: 600px) {
    .box-botoesAcao {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    .box-editarSaida {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }
}